@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Mono';
    src: url('UbuntuMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: Ubuntu, Helvetica, sans-serif;
	line-height: 1.6;
	font-size: 16px;
	color: #094703;
	max-width: 700px;
	margin: 20px auto;
	padding: 0px 15px;

}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.smush {
	max-width: 450px;
	margin: auto;
	margin-bottom: 2.5in;
}

pre {
	font-family: Ubuntu-Mono;
}
